/* Basic styles */
html, body {
    height: 100%;
    margin: 0;
  }
  
body {
    background-image: url('def2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #89eb76;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    font-size: large;
    margin-bottom: 40px;
    color: azure;
  }
  
  /* Form styles */
  form {
    max-width: 400px;
    margin: auto;
  }
  
  label,
  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  